#divGaleria img {
    transition: 2s all;
    filter: grayscale(0);
    box-shadow: 2px 3px 45px -14px #000000;
    width: 180px;
    height: 180px;
}

#divGaleria img:hover {
    box-shadow: 2px 3px 45px -4px #000000;
    transform: scale(1.1);

}

#divGaleria main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#divGaleria h1 {
    text-align: center;
    background-color: darksalmon;
    color: brown;
}


#divGaleria p{
    text-align: center;
    font-weight: bold;

}