img {
    transition: 2s all;
    filter: grayscale(0);
    width: 180px;
    height: 180px;
    margin: 10px;
    box-shadow: 2px 3px 45px -14px #000000;
}

img:hover {
    padding: 3px;
    box-shadow: 2px 3px 45px -4px #000000;
    transform: scale(1.1);
   
}

main {
    width: 70%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    background-color: darksalmon;
    color: brown;
}

p{
    text-align: center;
    font-weight: bold;

}